img:first-child {
    width: 47px;
    height: 47px;


}

header>img:nth-child(2) {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 25px;
    left: 325px;



}

.image-acceuil {
    text-align: center;
}

.image-acceuil img {
    width: 328px;
    height: 392px;
   padding-top: 50px;
}
