html {
    overflow-x: hidden;
}
 /*Header fixe*/
 .haut {
     background-color: white;
     position:fixed;
     top: 0; /* vaut mieux fixer les valeurs par défaut pour ne pas avoir de mauvaises surprises */
     left: 0;
     right: 0;
 }

/*Accueil*/

 .image-accueil img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     top: 120px;
 }

 .logo img {
     position: absolute;
     top: 18px;
     left: 18px;
 }

 /*Triangles accueil*/

 .triangle-rouge1 {
     position: absolute;
     left: -70px;
     top: 1000px;
 }

 .triangle-gris {
     position: absolute;
     left: 90px;
     top: 1310px;

 }

 .triangle-rouge2 {
     position: absolute;
     left: -70px;
     top: 1670px;
 }


 /*Images tweets*/

 .tweet-1 {
     text-align: left;
     padding-left: 23.5px;
     padding-top: 100px;
     padding-bottom: 100px;
 }

 .tweet-2 {
     text-align: right;
     padding-right: 23.5px;
     padding-top: 100px;
     padding-bottom: 100px;

 }

 .tweet-3 {
     text-align: left;
     padding-left: 23.5px;
     padding-top: 50px;
     padding-bottom: 100px;
     margin-bottom: 120px;
 }

 body>h3 {
     font-family: "Unica One", cursive;
     font-size: 3rem;
     margin-top: 100px;
     font-weight: lighter;
     color: #963C3E;
     padding-left: 15px;
 }

 .ba-film {
    display: block;
     margin: auto;
    margin-bottom: 120px;
    margin-top: 70px;
 }


 /*Footer*/

 .fa-twitter {
     font-size: 20px;
     padding: 5px;
     background-color: #949894;
     color: white;
     border: 1px solid white;
     border-radius: 50%; /* circle */
 
 }

 .fa-instagram {
     font-size: 20px;
     padding: 5px;
     background-color: #949894;
     color: white;
     border: 1px solid white;
     border-radius: 50%; /* circle */
 
 }

 .fa-snapchat-ghost {
     font-size: 20px;
     padding: 5px;
     background-color: #949894;
     color: white;
     border: 1px solid white;
     border-radius: 50%; /* circle */
     margin-left: 60px;
     margin-right: 60px;
 
 }

 .aligner {
     text-align: center;
     padding-top: 35px;
 }

 .mail-footer a {
     font-size: 1.5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: 'Open Sans', sans-serif;
     color: white;
     padding-top: 25px;
 }

 .mmi-footer a {
     font-size: 1rem;
     font-weight: bold;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: 'Open Sans', sans-serif;
     color: white;
     padding-top: 20px;
 }

 .logo-footer {
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 10px;
 }

 .rea p{
     font-size: 0.8rem;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     color: white;

 }


 /*Article1*/

 .article1 {
     padding-top: 100px;
     line-height: 3rem;
     margin-left: 50px;
     margin-right: 50px;

 }

 .article1 img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 100px;
     margin-top: 100px;
 }

 .article1 h2 {
     margin-top: 100px;
     margin-bottom: 100px;

 }

 .titre-article1 {
     margin-left: 20px;
     margin-top: 60px;
     margin-bottom: 60px;
 }

 .chapeau {
     margin-bottom: 60px;
 }

 .carousel img {
     max-width: 100%;
     height: auto;
 }

 .carousel h3, header {
     margin: 0 20px;
 }

 .carousel {
     background-color: #fff;
     color: white;
     padding: 20px 0;
 }


 ul.carousel-items {
     list-style: none;
     padding: 20px 0;
     display: flex;
     overflow-x: scroll;
     scroll-snap-type: x mandatory;
 }

 li.carousel-item {
     flex: 1 0 220px;
     margin-right: -30px;
     scroll-snap-align: center;
 }

.styled4 {
    display: block;
    margin : auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


 /*Article2*/

 .article2 {
     margin-top: 170px;
     line-height: 3rem;
     margin-left: 50px;
     margin-right: 50px;
 }

 .titre-article2 {
     margin-left: -20px;
     margin-bottom: 60px;
 }

 .article2 h2 {
    margin-top: 100px;
    margin-bottom: 100px;

}


.article2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

 .styled {
     display: block;
     margin : auto;

 }

 .boutons-article2 {
     margin-top: 30px;
 }

 .bouton-ensavoirplus {
     margin-left: -200px;
     margin-bottom: -35px;

 }
 .bouton-fleche {
     margin-left: 170px;
 }

 .boutons-article2 {
     margin-top: 40px;
     margin-bottom: 30px;
 }

 article>h3 {
     font-family: "Unica One", cursive;
     font-size: 3.5rem;
     margin-top: 100px;
     font-weight: lighter;
     color: #963C3E;
 }

 .visio-trottoir {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 120px;
     margin-top: 70px;
 }
 /*ArticleSc*/



 .icone-back img {
     position: absolute;
     top: 13px;
     left: -13px;
 }

 .articlesc {
     padding-top: 160px;
     line-height: 3rem;
     margin-left: 50px;
     margin-right: 50px;
 }

 .articlesc .chapeau {
     margin-top: 40px;
     margin-bottom: 80px;
 }

 .articlesc img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 100px;
     margin-top: 100px;
 }

 .articlesc a {
     margin-left: 40px;
 }



 /*Article 3*/

.article3 {
    margin-top: 170px;
    line-height: 3rem;
    margin-left: 50px;
    margin-right: 50px;
}

.titre-article3 {
    margin-left: -20px;
    margin-bottom: 60px;
}

 .article3 h2 {
    margin-top: 100px;
    margin-bottom: 100px;

}


.article3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

 .boutons-article3 {
    text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;

}

 .boutons-article3 .styled3 {
     margin-left: 60px;
 }

 /*Autres projets*/

.affiches-textes h1 {
    margin-bottom: 120px;

}
.descriptif {
    clear: both;
}

.affiches-textes {
    margin-left: 45px;
    margin-top: 180px;
    margin-bottom: 200px;
}

.descriptif img {
    float: left;
    margin-bottom: 150px;

}

.descriptif span {
    padding-top: 70px;
    margin-left: 150px;
    display: block;
}

.autres-projets {
    margin-top: 250px;
}




/*Formulaire Contact*/

.titre-formulaire {
    font-family: "Unica One", cursive;
    font-size: 4rem;
    color: #963C3E;
    margin-bottom: 80px;
    margin-top: 150px;
    margin-left: 25px;
}

.form {
    padding-left: 30px;

}

.form p {
    margin: 0;
    padding: 0;
    color: #707070;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.form input {
    margin-bottom: 20px;
    width: 300px;
}

.form input[type=text], .form input[type=number], .form input[type=email] {
    border: none;
    border-bottom: 1px solid #707070;
    background-color: transparent;
    outline: none;
    height: 40px;
    display: inline;
    color: #707070;
    font-family: 'Open Sans', sans-serif;

}

::placeholder {
    color: #707070;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.form input[type=submit] {
    border: none;
    height: 40px;
    outline: none;
    font-size: 1.5rem;
    background-color: #949894;
    border-radius: 8px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;

}

/*A propos*/

 .A-propos {
     padding-top: 150px;
 }

 .A-propos h1 {
     font-family: "Unica One", cursive;
     font-size: 4rem;
     color: #963C3E;
     margin-left: 25px;
     margin-top: 0;
     margin-bottom: 70px;
 }

.alignleft-image {
    margin-left: 25px;
    margin-right: 10px;
}

.alignleft {
    float: left;
}

p.alignleft {
    text-align: left;
    line-height: 1.5;
}

 .texte-sous {
    clear: both;
     margin-left: 25px;
     margin-right: 25px;
     margin-bottom: 120px;
     padding-top: 20px;

}




