/*Introduction-rectangle*/

.rectangle {
    width:328px;
    height:291px;
    margin-top: 125px;
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 10px gray;
    z-index: 2;
}


.menu-open .menu li {
    font-size: 2rem;
    line-height: 60px;
}





/*Footer*/

.decoration {
     margin-left: auto;
     margin-right: auto;
     background-color: #707070;
     width: 100%;
     height: 215px;
    bottom: 0;


 }

/*formes géométriques*/



/*lettrine*/

#lettrine{
    font-family : 'Open Sans', sans-serif;
    font-size : 1.5rem;

}
#lettrine:first-letter {
    color: #963C3E;
    font-family : "Unica One", cursive;
    font-size : 6.7rem;
    padding:1px 10px 5px 0;
    margin-right:5px;
    float : left;
}

/*En savoir plus*/

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #963C3E;
    font-family: 'Orbitron', sans-serif;


}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styled2 {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #949894;
    font-family: 'Orbitron', sans-serif;


}

.styled2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}





