/*Page d'acceuil*/
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Orbitron&display=swap');

 html {
     font-size: 62.5%;
 }

 a {
     text-decoration: none;
     font-family: "Unica One", cursive;
 }


 .introduction p:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    margin: 0 20px;
    color: #707070;
     padding-top: 3rem;
     margin-bottom: 3.5rem;
}

 .introduction p:last-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0 20px;
    color: #707070;
     margin-top: 1rem;
}

/*Footer*/

 footer>a {
     font-family: 'Open Sans', sans-serif;
 }

 /*1er article*/

.article1 h1 {
    font-family: "Unica One", cursive;
    color: #963C3E;
    font-size: 3.3rem;
}

.article1 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #963C3E;
    font-size: 1.8rem;
}

.article1 p {
    font-family: 'Open Sans', sans-serif;
    color: #707070;
    font-size: 1.5rem;
}

 .chapeau {
     font-family: 'Open Sans', sans-serif;
     color: #707070;
     font-size: 1.5rem;
     font-weight: bold;
     font-style: italic;
 }

 .article p:last-child {
     text-decoration: #963C3E;
 }

 .article1 h3 {
     font-family: "Unica One", cursive;
     color: #707070;
     font-size: 3.3rem;
 }

/*Autres Projets*/

.marge-gauche ul {
    list-style-type: none;

}

.marge-gauche ul>li:nth-child(2n+1) {
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
}

.marge-gauche ul>li:nth-child(2n) {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
}

/*Formulaire*/

.formulaire h1 {
    font-family: "Unica One", cursive;
    font-size: 4rem;
    color: #963C3E;
    padding-left: 25px;
}

.formulaire ul>li {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

.formulaire p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #707070;
}









