/*Page d'acceuil*/

 html {
     font-size: 62.5%;
 }

 body {
     font-family: "Unica One", cursive;
     font-size: 1.6rem;
     line-height: 1.6;
     margin: 0 20px;
 }

 a {
     text-decoration: none;
 }

 main>h1 {
    color: black;
    font-size: 57px;
}



